<h1> Stupid Coaching </h1>
<div class="banner">
  <p><%= @question %></p>
  <p id="person">- You</p>
</div>
<div class="banner">
<p><%= @answer %></p>
<p id="person">- Your coach</p>
</div>

<p><%= link_to "Ask a new question", ask_path %></p>
